$tablet: 768px;
$desktop: 1440px;

.about-me{
    // layout
    display: grid;
        // spacing between other articles
    margin: 9.6rem 0 11.5rem;
    
    &__selfie{
        // center image
        justify-self: center;

        
    }

  

    &__message{
        // layout
        margin-bottom: 2.4rem;
    }
    &__horizontal-line{

        &-first{
            @media(min-width: $tablet){
                // layout
                margin-top: initial;
            }
        }
        &-last{
            @media(min-width: $tablet){
                // layout
                margin-top: 5.1rem;
            }
        }
    }
    &__button{
        // remove cliable area outside button
        justify-self: start;
    }

}