$tablet: 768px;
$desktop: 1440px;

// general styles
.home{
    //keep articles separate
    display: grid; 
    
    // separate articles
    row-gap: 9.6rem;

   
    
    
    &__message{
        // text
        font-size: 1.6rem;
        line-height: 3rem;
        color: var(--gray-blue-900);
        opacity: .8;
    }

}
