$tablet: 768px;
$desktop: 1440px;

.welcome-message{
    // layout
    display: grid;
    @media(min-width: $tablet){
        // overlay call to action and hero-image
        grid-template:
            "hero" min-content
            "hero" min-content
            / 1fr
        ;
    }

    &__hero{
        // size
        width: 100%;
        @media(min-width: $tablet){
            // layout
            grid-area: hero;
        }

    }

    &__title{
        // layout
        margin-top: 2.4rem;
        @media(min-width: $tablet){
            // layout
            margin-top: initial;
            margin-bottom: 4.8rem;
        }

        
    }
    &__call-to-action{
        @media(min-width: $tablet){
            // decoration
            background-color: var(--white);

            // layout
            padding: 5.6rem 5.6rem 0 0;
            grid-column: 1;
            grid-row: 2;

            // size
            width: 51.4rem;
            height: 27.8rem;
        }
        
    }
}