.button-disable-button{
    background-color: var(--grey-100);
    

    &__icon{
        fill: var(--white);

        &-background{
            grid-area: icon;
            background-color: var(--grey-100);
        }
    }
    &__text{
    }
}