.form-elements{
        // layout
        display: grid;
        grid-template:
            "label" min-content
            "input" 1fr
            / 1fr
        ;
        row-gap: .8rem;

        &__label{
            // parent layout
            grid-area: label;
            
            // text
            font-size: 1.3rem;
            line-height: 3rem;
            font-weight: bold;

            

        }
        

        
    }