$tablet: 768px;
$desktop: 1440px;

.header{
    
    // mobile layout
    display: grid;
    grid-template:
        "logo menu-icon" min-content
        / 1fr 1fr
    ;

    // add spacing between icon and links 
    row-gap: 2.4rem;

    margin-bottom: 4rem;
   
    @media(min-width: $tablet){
        // remove row gap when mobile menu is gone
        row-gap: initial;

        // increase space away from header
        margin-bottom: 9.4rem;
    }
    &__logo{
        // change logo color
        fill: var(--gray-blue-900);

        &:hover{
            fill: var(--green)
        }
    }
    &__hamburger{
        // layout
        grid-area: menu-icon;
        justify-self: end;

        // decoration
        fill: var(--gray-blue-900);

        &:hover{
            // decoration
            cursor: pointer;
            fill: var(--green);
        }

        // hide icon
        @media(min-width: $tablet){
            display: none;
        }
    }
    &__close{
        // layout
        grid-area: menu-icon;
        justify-self: end;

        //decoration
        fill: var(--gray-blue-900);
        
        &:hover{
            // decoration
            cursor: pointer;
            fill: var(--green);
        }

        // hide icon
        @media(min-width: $tablet){
            display: none;
        }
    }
    &__nav{
        // decoration
        background-color: var(--gray-blue-900);
        @media(min-width: $tablet){
            background-color: initial;
        }

        // float the menu above other content
        position: absolute;
        top: 6%;
        right: 7%;
        @media(min-width: $tablet){
            position: initial;
        }

        // fade in the menu
        opacity: 0;
        transition: .3s opacity linear;
        z-index: -1;
        @media(min-width:$tablet){
            opacity: initial;
            z-index: initial;
        }
    }

    // for hidding the icon menu and menu links on mobile
    &__open{
        z-index: 1;
        opacity: 1;
    }
    &__hide{
        display: none;
    }
}