#root{
    // colors
    // primary
    --green: #5FB4A2;
    --blue--900: #203A4C;
    --gray-blue-900: #33323D;
    // secondary
    --gray-100: #FAFAFA;
    --gray-300: #EAEAEB;
    --red: #F43030;

    // other
    --white: white;

    // button
    --black-400: #000000;
    --black-100: rgba(0, 0, 0, 0.10);
    --gray-200: #979797;


}