$tablet: 768px;
$desktop: 1440px;

.intro{
    // layout
    display: grid;
    row-gap: 2.4rem;
    grid-template:
        "line-top" min-content
        "title" max-content 
        "message" max-content
        "job-tech-stack" max-content
        "button" min-content
        "line-bottom" min-content
    ;
    @media(min-width: $tablet){
        // have empty areas has white space
        row-gap: initial;

        // tablet layout
        grid-template:
            "line-top line-top" min-content
            ". ." 3.2rem
            "title message" max-content 
            ". message" 1.6rem
            "job-tech-stack  message" max-content
            ". message" 1.6rem
            "button message" min-content
            ". message" 3.2rem
            "line-bottom line-bottom" min-content
            / 1fr 1fr
        ;
    }
    
    &__horizontal-line{
        &-top{
            // layout
            grid-area: line-top;
        }
        &-bottom{
            // layout
            grid-area: line-bottom;
        }
    }
    &__title{
        // layout
        grid-area: title;
    }
    &__message{
        // layout
        grid-area: message;
    }
    &__job-title-tech-stack{
        // layout
        grid-area: job-tech-stack;
        color: var(--green);

        // text
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 3rem;
    }
    &__button{
        // layout
        grid-area: button;
    }
}