.button-disable-button{

    background-color: var(--grey-200);


    &__icon{
        fill: var(--white);

        &-background{
            grid-area: icon;
            background-color: var(--grey-200);
        }
    }

}